# Logs
*.log
/storage/logs/*.log

# Dependencies
/node_modules
/vendor

# Development
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# IDEs
.idea
.vscode
.fleet

# Compiled files
/public/hot
/public/storage
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views

# Other
.DS_Store
Thumbs.db